.container {
    width: 95%;
    max-width: 100rem;
    margin: 0 auto;
}

.header {
    max-width: 75%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .header {
        max-width: 30rem;
    }
}

.title {
    text-align: center;
    font-size: 3rem;
    padding: 1.5rem 0;
    margin: 3.5rem 0;
    background: rgba( 255, 255, 255, 0.05 );
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

@media (min-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 4rem;
        margin-top: 5rem;
    }
}